* {
  font-family: system-ui;
  box-sizing: border-box;
}

#root {
  margin: 2.5rem 3rem;
}

label {
  display: block;
  margin-bottom: 0.4rem;
}
input {
  border: 1px solid rgb(202, 201, 201);
  border-radius: 6px;
  padding: 0.2rem 0.8rem;
}
h2 {
  color: rgb(103, 103, 103);
}
button {
  border: none;
  padding: 0.2rem 1rem;
  border-radius: 8px;
  background-color: rgb(79, 79, 97);
  color: white;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: rgb(48, 48, 60);
  }

  &.add-btn {
    background-color: rgb(89, 89, 193);
    padding: 0.6rem 1rem;

    &:hover {
      background-color: rgb(30, 30, 186);
    }
  }
  &.delete-btn {
    background-color: rgb(220, 44, 44);
    padding: 0.4rem 0.8rem;

    &:hover {
      background-color: rgb(196, 24, 24);
    }
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  gap: 100px;
}

#new-person__title {
  margin-top: 5rem;
}
.no-results {
  color: red;
  font-weight: 700;
}
#error {
  color: red;
  font-weight: 500;
}

.person-item__container {
  display: inline-flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;

  div {
    display: grid;
    place-items: center;
  }
}

#notification {
  position: fixed;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  padding: 1.4rem 1.6rem;
  top: 20px;
  right: 20px;
  border: 4px solid gray;

  &.success {
    background-color: rgb(167, 255, 158);
    border-color: green;
    color: green;
  }
  &.error {
    background-color: rgb(255, 189, 189);
    border-color: red;
    color: red;
  }
  &.warning {
    background-color: rgb(255, 243, 199);
    border-color: orange;
    color: orange;
  }
}

@media (width <= 660px) {
  main {
    flex-direction: column;
    gap: 20px;
  }
  #new-person__title {
    margin-top: 2rem;
  }
  .person-list__title {
    margin-top: 2rem;
  }
}

@media (width <= 480px) {
  #root {
    margin: 1rem;
  }
}
